<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
    <title></title>
</head>
<body>
    <div id="demo">
        姓:<input type="text" v-model="firstName"> <br>
        名:<input type="text" v-model="lastName"> <br>
        全名: <h1>{{fullName}}</h1>
    </div>

    <script>
        Vue.config.productionTip = false;

        new Vue({
            el:'#demo',
            data(){
                return {
                    firstName:'zhang',
                    lastName:'san'
                }
            },
            // 计算属性的简写:要求只需get无需set
            computed:{
                fullName(){  //fullName为计算属性名,函数为getter函数
                    return this.firstName + '-' + this.lastName
                }
            }
        })
    </script>

</body>
</html>